<<<<<<< Updated upstream
/* 
.homepage {
=======
/* .homepage {
>>>>>>> Stashed changes
  font-family: "Arial", sans-serif;
}

/* Secci贸n inicial 
.hero-section {
<<<<<<< Updated upstream
  background-image: url("/Covers/gg.webp"); /* Imagen de fondo
  background-size: cover;
  /* background-color: red; 
=======
  background-image: url("/Covers/gg.webp"); /* Imagen de fondo 
  background-size: cover;
  /* background-color: red;
>>>>>>> Stashed changes
  background-position: top;
  /* height: 100%; 
  /* width: 100vw; 
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
<<<<<<< Updated upstream
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombreado para mejor visibilidad
=======
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombreado para mejor visibilidad 
>>>>>>> Stashed changes
}

/* Fondo ondulado 
.wave-section {
  position: relative;
  background-color: #f8f9fa; /* Color del fondo s贸lido 
}

.wave-svg {
  width: 100%;
  height: auto;
}

/* Secci贸n de contenido 
.solid-section {
  background-color: #f8f9fa; /* Color s贸lido 
  padding: 50px 20px;
  text-align: center;
<<<<<<< Updated upstream
}

*/
=======
} */
>>>>>>> Stashed changes
